@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">

        <div class="col-sm-9" >
            @*Show posts when any post already exists.*@
            @foreach (var item in Model)
            {
            <!-- Blog Post -->
                <section class="well">
                    <h2>
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToString(), "Details", new { id = item.ID })
                    </h2>
                    <p><span class="glyphicon glyphicon-time"></span> @Blog.Resources.BlogResources.PostedOn @Html.DisplayFor(modelItem => item.Published)</p>
                    <hr>
                    <p>@Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))</p>
                    <a class="btn btn-raised btn-warning" href="@Url.Action("Details", "Home", new { id = item.ID })">@Blog.Resources.BlogResources.ReadMore<span class="glyphicon glyphicon-chevron-right"></span></a>
                </section>
            }

            @*Show a link to Create action when no post exists.*@
            @if (Model.Count() == 0)
            {
                <section class="well">
                    <h2>
                        まだ投稿がありません。
                    </h2>
                    <hr>
                    <a class="btn btn-raised btn-warning" href="@Url.Action("Create", "Home")">最初の投稿<span class="glyphicon glyphicon-chevron-right"></span></a>
                </section>
            }
        </div>
        @Html.Partial("_Search", null)
        @Html.Partial("_Archive", null)
    </div>



    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="?index=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>

            </li>

            @for (int i = 1; i <= @ViewBag.Pages; i++)
        {
        <li>
            @Html.ActionLink(i.ToString(), "Index", new { index = i })
        </li>}


            <li>
                <a href="?index=@(Html.Raw(ViewBag.Pages))" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>