<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Blog.Resources.BlogResources.BlogName</title>

    @*Styles.Render を利用する場合、下記は不要*@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/ripples.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    
    @*スタイルファイルを一括読み込みする場合は Styles.Render を利用*@
    @*@Styles.Render("~/Content/css")*@

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Blog.Resources.BlogResources.BlogName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @{
                    HttpRequestWrapper request = Request as HttpRequestWrapper;
                    string controllerPath = request.Path.Split('/')[1];
                    if (controllerPath == "Dashboard")
                    {
                        <span style="margin-left: 3px;
                                border-left: 1px solid white;
                                margin-top: 16px;
                                height:12px;"
                                class="navbar-brand"
                                id="menuLabel">
                        </span>

                        string actionPath = request.Path.Split('/')[2];
                        string menuLabel = "";
                        if (actionPath == "AllPosts" || actionPath == "Published" || actionPath == "Draft")
                        {
                            menuLabel = Blog.Resources.BlogResources.AllPosts;
                        }
                        if (actionPath == "Create")
                        {
                            menuLabel = Blog.Resources.BlogResources.Create;
                        }
                        if (actionPath == "Edit")
                        {
                            menuLabel = Blog.Resources.BlogResources.Edit;
                        }
                        if (actionPath == "Configuration" || actionPath == "Update")
                        {
                            menuLabel = Blog.Resources.BlogResources.Configuration;
                        }
                        @Html.Label(menuLabel, new { @class = "navbar-brand" })
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                @*Hide "Detail" and "Contact" links while viewing Dashboard page*@
                @{
                    //HttpRequestWrapper request = Request as HttpRequestWrapper;
                    if (request != null)
                    {
                        if (!request.Path.Contains("Dashboard"))
                        {
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink(@Blog.Resources.BlogResources.Detail, "About", "Home")</li>
                            </ul>
                        }
                    }
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        <h1 class="page-header">
            <small>@ViewBag.Description</small>
        </h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Blog.Resources.BlogResources.BlogName</p>
        </footer>
    </div>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    @Scripts.Render("~/bundles/jquery")
    @*bootstrap の JS を一括して読み込む場合 Script.Render を利用*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    @*Script.Rnder を利用する場合、下記は不要*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
    <script>
        $.material.init();
    </script>
</body>
</html>
